@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

@import "embla.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.bg-pattern {
  background-color: rgba(8, 8, 8, 0.966);  
  background-attachment: fixed;
  background-size: cover;
}

::-moz-selection {
  /* Code for Firefox */
  color: #f4f4f4;
  background: #6e0cca;
}

::selection {
  color: #f4f4f4;
  background: #6e0cca;
}

.gradient-background {
  background: linear-gradient(213deg, #ca01cc, #ca01cc, #03a6d6, #33c2d0);
  background-size: 240% 240%;
  animation: gradient-animation 12s ease infinite;
}

.underlined {
  position: relative;
}

.underlined::after {
  content: "";
  position: absolute;
  bottom: -1.525rem;
  left: -0.5rem;
  right: -0.5rem;
  height: 40px;
  z-index: 0;


  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg");
  background-repeat: no-repeat;
}





@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rbackground{
  height: auto;
  background-color: rgba(8, 8, 8, 0.966);
}

h3{
  margin: 0;
}

h4{
  margin: 0;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}


.headtext{
  font-family:'Montserrat', sans-serif;
  font-weight: 300;
}

.titlepicture{
  /* border: 1px solid red; */
  width: 194px;
  height: 75px;
  
  
}



fieldset{
  border: 0;
  border-top:1px solid #3b3b3b;
  padding:3%;
}
legend{
  color: white;
  text-align: center;
  font-family:'Montserrat', sans-serif;
  font-weight: 800;
  padding: 0;
  border: 0;
}

.welcome{
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  font-weight: 600;
}

.pixeltextR{
  text-align: right;
  font-family: "Press Start 2P", "VT323";
  color: rgb(5, 5, 5);
}
.about{
  margin: 0;
  width: 1500px;
  height: 1000px;
  /* border: 2px solid red; */
  margin: 100px auto 0px;
  position: relative;
}
.about .left1{
  width: 500px;
  height: 500px;
  left: 0px;
  top: 20%;
  position: absolute;
  background: url(/images/about.gif);
}
.about .right1{
  width: 636px;
  height: 636px;
  /* border: 2px solid red; */
  top: 25%;
  position: absolute;
  right: 100px;
}
.about .right1 .titlep{
 text-align: center;
 font-weight: 500;
 font-size: x-large;
 font-family: "Press Start 2P", "VT323";
 color: white;
}

.about .right1 .textp{
  text-align: center;
  font-weight: 100;
  font-size: medium;
  font-family: "Press Start 2P", "VT323";
  color: white;
 }

.textx{
  position: relative;
  text-align: center;
  left: 3%;
  font-weight: 300;
  font-size: x-large;
  font-family: "Press Start 2P", "VT323";
  color: white;
  
 }

 .title{
  text-align: center;
 font-weight: 500;
 font-size: x-large;
 font-family: "Press Start 2P", "VT323";
 color: white;
 }

 .text{
  text-align: center;
  font-weight: 100;
  font-size: small;
  font-family: "Press Start 2P", "VT323";
  color: white;
 }

 .text1{
  text-align: center;
  font-weight: 100;
  font-size: small;
  font-family: "Press Start 2P", "VT323";
  color: black;
 }

 .right1 .linkbutton{
  margin-left: 190px;
 }

.main1{ 
    /* margin: 0; */
    width: 1848px;
    height: 800px;
    /* border: 2px solid red; */
    /* margin: 100px auto 0px; */
    position: relative;
}
.mintcenter{
    position: absolute;
    top: 80%;
    left: 50.5%;
    transform: translate(-50%, -50%);
  /* border: 3px solid #73AD21; */
}
.background{
  background-image: url(/images/background.png);
  width: 1848px;
  height: 800px;
  background-position: center;
  /* border: 3px solid #73AD21; */
}

